/* TODO factor this */
home, body {
    font-family : Helvetica;
    background-color : black;
    color : white;
}

h1, h2, h3, h4, h5, h6 {
    color : white;
}


#header {
    text-align : center;
    font-size : medium;
}

#chapter-navigation {
    text-align : center;
    font-size : large;
}

#level-navigation {
    font-size : medium;
}

.selected-level {
    background-color : #000070;
}

.hovered-level {
    background-color : #00A3A3;
}

#level-preview {
    text-align : center;
    background-color : #000070;
    padding-top : 5px;
    border-radius : 10px;
    -moz-border-radius : 10px;
}

#playground {
    border : 1px solid white;
    background-color : black;
}

.button {
    border : 1px solid white;
    background-color : black;
    padding-top : 2px;
    padding-bottom : 2px;
}

#footer {
    text-align : center;
}

.level-header {
    font-size : large;
}

#levels {
    font-size : medium;
}

a {
    color : white;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none ; }
a:active {text-decoration: none ; }
a:hover {text-decoration: underline; }

#level-navigation {
    padding-right : 5px;
    padding-left : 5px;
    background-color : #303030
}


.tab-header-selected {
    padding-top : 5px;
    padding-bottom : 5px;
    background-color : #303030;

    border-top-left-radius : 10px;
    border-top-right-radius : 10px;

    -moz-border-radius-topLeft : 10px;
    -moz-border-radius-topRight : 10px;
}

.tab-header-unselected {
    padding-top : 5px;
    padding-bottom : 5px;
    background-color : black;
}

.level {
    padding-top : 3px;
    padding-bottom : 3px;
    padding-left : 3px;
}
