body {
    background-color : black;
    color : white;
}

#playground {
    border-style : solid;
    border-color : white;
    border-size : 1px;
}

.cell {
    width : 32px;
    height : 32px;
    background-image : url("../../data/images/png/cell_1.png")
}

.player {
    width : 32px;
    height : 32px;
    background-image : url("../../data/images/png/player.png")
}

.move_unselected, .move_current {
    border-style :solid;
    border-size : 1px;
}

.move_unselected {
    border-color : black;
}

.move_current {
    border-color : blue;
}